<nav class="navar">
    <button routerLink="/visitante" class="butonvisitantente">adm.visitante</button>
</nav><br>
<mat-card>
    <mat-card-title>Administrar usuarios</mat-card-title><br>
    <mat-card-content>
    <button mat-raised-button color="primary" class="botoncrear">crear usuario</button>
    
    <table>
        <tr>
            <th>usuario</th>
            <th>email</th>
            <th>perfil</th>
            <th>contraseña</th>
        </tr>
        <tr>
            <td>joel</td>
            <td>joel@gmail</td>
            <td>admin</td>
            <td>12345</td>
        </tr>
       </table>

    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>
