
<header>
  <a href="#" class="logo">Safe Trabel</a>
  <nav>
    <ul>
      <li><a href="#">Descubrir</a></li>
      <li><a href="#">Viajes</a></li>
      <li><a href="#">Escribir opcion</a></li>


    </ul>
  </nav>

</header>
<section class="zona1"></section>
<section class="playascartagena">
   <h2>Playas cartagena</h2>
   <p> playas recomendadas de cartagena</p>
   <div>
    <img src="https://res.cloudinary.com/worldpackers/image/upload/c_limit,f_auto,q_auto,w_1140/dvy3szniwovixaxhdqj1" alt="Bocagrande, el Laguito y Castillogrande">
    <img src="https://res.cloudinary.com/worldpackers/image/upload/c_limit,f_auto,q_auto,w_1140/wenhrlybzj8moawt13le" alt="Marbella"> 
    <img src="https://res.cloudinary.com/worldpackers/image/upload/c_limit,f_auto,q_auto,w_1140/w5wlz5xigozkessimz5m" alt="boquilla"> 
    <img src="https://res.cloudinary.com/worldpackers/image/upload/c_limit,f_auto,q_auto,w_1140/p0kfaxi4jsgveq40rtms" alt="baru"> 
   </div>
</section>
<section class="containerrecomendaciones">
    <h2>Recomendaciones</h2>
  
    <div >
        <img src="https://res.cloudinary.com/worldpackers/image/upload/c_limit,f_auto,q_auto,w_1140/i0fwlprouzyvgldlouaa" alt=" Museo Histórico de Cartagena">
        <img src="../../../assets/plaza-coches.jpg" alt="Plaza de los Coches"> 
        <img src="../../../assets/barrio-getsemani.jpg" alt="Barrio de Getsemaní"> 
        <img src=".././../../assets/castillo-san-felipe-barajas-1.jpg" alt="Castillo de San Felipe de Barajas"> 
    </div>
</section>