<div class="w-screen h-screen bg-gray-50 relative">
    <div class="absolute w-full h-full">
        <img class="absolute w-60 left-0 bottom-0" src="/assets/images/logo_trial.png" alt="bg left">
    </div>
    <div class="relative w-4/12 m-auto">
        <header class=" pt-6  pb-2 flex justify-center">
            <img class="w-56" src="/assets/images/sAFE_trabel-removebg-preview.png" alt="logo">
        </header>
        <div class="bg-white rounded shadow py-4 px-6">
            <div class="mb-4">
                <h1 class="text-center font-semibold pt-4 pb-8">Login a Safe Trabel</h1>
                <form action="" novalidate class="space-y-4">
                    <div class="relative">
                        <input type="email" placeholder="Colocar email" class="w-full rounded bg-gray-100 border-2 border-gray-300">
                    </div>
                    <div class="relative">
                        <input type="password" placeholder="Colocar Contraseña"
                            class="w-full rounded bg-gray-100 border-2  border-gray-300">
                    </div>
                    <div>
                        <button type="submit" class=" text-white w-full px-5 py-2  font-medium rounded text-sm bg-blue-400">Login</button>
                    </div>
                    <hr>
                    
                </form>
            </div>
        </div>
    </div>
</div>